/*-------------  headers ----------*/
body,
html {
    height: 100%;
}

body {
    background-color: lightgray;
}

h1{
    justify-content: end;
}

.bg {
    background-image: url("../Images/font-image.jpg");
    height: calc(100vh - 132px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.center-elements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center-text {
    text-align: center;
}

/*-------------  media ----------*/
@media (max-width: 600px) {

    /*-------------  menu burger ----------*/
    nav+ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
    }

    #menu-burger {
        width: 40px;
        height: 40px;
    }

    #checkbox-burger {
        display: none;
    }

    #checkbox-burger+nav {
        display: none;
    }

    #checkbox-burger:checked+nav {
        display: block;
    }

    /*-------------  images ----------*/
    img {
        border-radius: 3px;
    }
}

@media (min-width: 600px) {
    nav {
        margin: 0 auto;
    }

    nav ul {
        float: right;
        margin-right: 16px;
        list-style: none;
        text-align: center;
    }

    nav ul li {
        display: inline-block;
        justify-content: space-between;
        color: black;
        font-size: 24px;
    }

    nav ul li a {
        display: block;
        padding: 15px;
        text-decoration: none;
        color: #aaa;
        font-weight: 800;
        text-transform: uppercase;
        margin: 0 10px;
    }

    nav ul li a,
    nav ul li a:after,
    nav ul li a:before {
        transition: all .5s;
    }

    nav ul li a:hover {
        color: #555;
    }

    /* stroke */
    nav.stroke ul li a,
    nav.fill ul li a {
        position: relative;
    }

    nav.stroke ul li a:after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 0%;
        content: '.';
        color: transparent;
        background: #aaa;
        height: 1px;
    }

    nav.stroke ul li a:hover:after {
        width: 100%;
    }

    /*-------------  menu burger ----------*/
    #menu-burger,
    #checkbox-burger {
        display: none;
    }

    /*-------------  images ----------*/
    /*img {
        opacity: 0.5;
        border-radius: 3px;
    }

    img:hover {
        opacity: 1.0;
    }*/

    /* black and white images  DO NOT ERASE 
    img:first-of-type {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }*/

    #avatar {
        width: 100px;
        margin: 16px;
        border-radius: 50px;
    }
}