/*-------------  headers ----------*/
h1 {
    color: red;
}

nav+ul {
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.menu {
    list-style-type: none;
}

.center-elements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center-text {
    text-align: center;
}

/*-------------  media ----------*/
@media (max-width: 600px) {
    body {
        background-color: lightblue;
    }

    /*-------------  menu burger ----------*/
    #menu-burger {
        width: 40px;
        height: 40px;
    }

    #checkbox-burger {
        display: none;
    }

    #checkbox-burger+nav {
        display: none;
    }

    #checkbox-burger:checked+nav {
        display: block;
    }

    /*-------------  images ----------*/
    img {
        border-radius: 3px;
    }
}

@media (min-width: 600px) {
    body {
        background-color: darkgrey;
    }

    #menu-burger,
    #checkbox-burger {
        display: none;
    }

    .menu-list {
        display: flex;
        flex-direction: column;
    }

    /*-------------  images ----------*/
    img {
        opacity: 0.5;
        border-radius: 3px;
    }

    img:hover {
        opacity: 1.0;
    }

    img:first-of-type {
        -webkit-filter: grayscale(100%);
        /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
    }
}