/*-------------  headers ----------*/
body,
html {
    height: 100%;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,p {
    font-family: arial, sans-serif;
}

p {
    line-height: 1.5;
}

article p {
    text-align: center;
    margin-top: 24px;
    margin-bottom: 24px;
}

.top-container{
    display: inline-block;
    justify-content: end;
}

.btn-primary {
    background-color: #ffd0d7;
    border-color: #ffb6c1;
}

.btn-primary:hover {
    background-color: #ff9dab;
    border-color: #ff8396;
}

.top {
    --offset: 50px; 
  
    position: sticky;
    bottom: 20px;      
    margin-right:10px; 
    place-self:end;
    margin-top: calc(100vh + var(--offset));
    
    /* visual styling */
    text-decoration: none;
    padding: 10px;
    font-family: sans-serif;
    color: #fff;
    background: #aaa;
    border-radius: 100px;
    white-space: nowrap;
}

.grid-container {
    display: grid;
    margin-top: 24px;
    background-color: lavenderblush;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.grid-item {
    background-color: lavenderblush;
    text-align: center;
    justify-items: center;
    justify-content: center;
    font-size: 30px;
}

.item1 {
    background-image: url("../Images/student.svg");
    margin-top: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    opacity: 0.5;
}

.item2 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.item3 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / 2;
    grid-row: 2 /3;
}

.item4 {
    background-image: url("../Images/job.svg");
    height: calc(100vh / 2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 2 / 4;
    grid-row: 2 /3;
    opacity: 0.5;
}

.item5 {
    background-image: url("../Images/graduate-modify.svg");
    background-position:left;
    background-repeat: no-repeat;
    padding-bottom: 10px;
    background-size:auto;
    grid-column: 1 / 2;
    grid-row: 3 /4;
    opacity: 0.5;
}

.item1:hover, .item4:hover, .item5:hover {
    opacity: 1.0;
}

.item5:first-of-type {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.item6 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    padding-bottom: 10px;
}

.logo-article-sizing {
    max-height: 200px;
    width: 100%;
}

.bg {
    background-image: url("../Images/font-image.jpg");
    height: calc(100vh - 132px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: azure;
    justify-items: center;
}

.bg-contact {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1118%26quot%3b)' fill='none'%3e%3cpath d='M1464 560L0 560 L0 207.02Q10.19 145.21%2c 72 155.4Q113.03 76.43%2c 192 117.45Q237.33 90.78%2c 264 136.12Q355.43 107.55%2c 384 198.98Q435.52 130.5%2c 504 182.02Q536.62 94.64%2c 624 127.26Q703.22 86.47%2c 744 165.69Q771.56 121.25%2c 816 148.8Q896.89 109.69%2c 936 190.58Q965.01 147.6%2c 1008 176.61Q1051.87 100.48%2c 1128 144.35Q1180.93 77.28%2c 1248 130.21Q1316.4 126.62%2c 1320 195.02Q1344.54 147.56%2c 1392 172.1Q1417.37 125.47%2c 1464 150.84z' fill='rgba(252%2c 180%2c 235%2c 1)'%3e%3c/path%3e%3cpath d='M1560 560L0 560 L0 268.8Q33.6 230.4%2c 72 264.01Q94.02 214.03%2c 144 236.05Q195.12 167.17%2c 264 218.29Q286.69 168.99%2c 336 191.68Q378.82 162.5%2c 408 205.33Q506.11 183.44%2c 528 281.55Q545.69 227.24%2c 600 244.92Q632.17 157.09%2c 720 189.26Q769.5 166.76%2c 792 216.26Q861.68 213.94%2c 864 283.62Q884.18 231.81%2c 936 251.99Q958.21 202.19%2c 1008 224.4Q1059.62 156.01%2c 1128 207.63Q1218.9 178.53%2c 1248 269.44Q1293 194.44%2c 1368 239.45Q1391.75 191.2%2c 1440 214.95Q1524.14 179.09%2c 1560 263.24z' fill='rgba(250%2c 185%2c 235%2c 1)'%3e%3c/path%3e%3cpath d='M1464 560L0 560 L0 305.54Q89.48 275.02%2c 120 364.5Q132.85 257.35%2c 240 270.19Q309.75 219.94%2c 360 289.7Q432.23 241.93%2c 480 314.16Q531.4 293.56%2c 552 344.96Q605.03 277.99%2c 672 331.02Q701.66 288.69%2c 744 318.35Q819.88 274.24%2c 864 350.12Q872.79 286.91%2c 936 295.71Q989.43 229.14%2c 1056 282.58Q1114.33 268.9%2c 1128 327.23Q1152.57 279.8%2c 1200 304.37Q1216.1 248.47%2c 1272 264.56Q1320.99 241.56%2c 1344 290.55Q1397.58 224.13%2c 1464 277.71z' fill='rgba(255%2c 196%2c 241%2c 1)'%3e%3c/path%3e%3cpath d='M1488 560L0 560 L0 409.31Q42.32 331.63%2c 120 373.95Q168.97 302.92%2c 240 351.9Q343.01 334.91%2c 360 437.93Q364.35 370.28%2c 432 374.64Q456.68 327.31%2c 504 351.99Q533.48 309.47%2c 576 338.94Q650.37 293.31%2c 696 367.67Q745.31 344.98%2c 768 394.28Q850.23 356.5%2c 888 438.73Q907 385.74%2c 960 404.74Q972.36 345.1%2c 1032 357.46Q1061.63 315.08%2c 1104 344.71Q1190.69 311.4%2c 1224 398.1Q1265.13 367.24%2c 1296 408.37Q1326.74 319.11%2c 1416 349.85Q1463.85 325.7%2c 1488 373.55z' fill='rgba(231%2c 177%2c 237%2c 1)'%3e%3c/path%3e%3cpath d='M1512 560L0 560 L0 461.77Q74.81 416.58%2c 120 491.39Q146.36 445.75%2c 192 472.1Q223.51 383.61%2c 312 415.12Q354.56 385.69%2c 384 428.25Q481.76 406.01%2c 504 503.77Q532.86 460.63%2c 576 489.49Q592.04 433.53%2c 648 449.58Q677.87 407.44%2c 720 437.31Q775.13 420.44%2c 792 475.57Q847.26 458.83%2c 864 514.09Q893.38 423.47%2c 984 452.85Q1068.56 417.41%2c 1104 501.97Q1125.68 451.65%2c 1176 473.33Q1189 414.32%2c 1248 427.32Q1302.61 361.93%2c 1368 416.54Q1429.17 405.71%2c 1440 466.88Q1482.86 437.74%2c 1512 480.6z' fill='rgba(235%2c 207%2c 238%2c 1)'%3e%3c/path%3e%3cpath d='M1560 560L0 560 L0 517.53Q67.6 513.13%2c 72 580.72Q96.51 533.24%2c 144 557.75Q178.96 472.71%2c 264 507.67Q293.67 465.34%2c 336 495.01Q439.74 478.75%2c 456 582.49Q469.41 523.9%2c 528 537.32Q539.27 476.59%2c 600 487.86Q666.98 434.84%2c 720 501.81Q780.12 489.92%2c 792 550.04Q835.18 473.22%2c 912 516.4Q971.79 504.19%2c 984 563.99Q1033.55 493.54%2c 1104 543.09Q1157.13 476.22%2c 1224 529.34Q1250.93 484.27%2c 1296 511.2Q1352.62 495.82%2c 1368 552.44Q1372.68 485.12%2c 1440 489.8Q1507.56 437.36%2c 1560 504.92z' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1118'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 24px;
    margin-top: 24px;
}

.center-elements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-layout {
    margin-left: auto;
    margin-right: auto;
    max-width: 30%;
}

.etude-container {
    display: flex;
    height: calc(100vh * 0.45);
    justify-content: center;
    align-items: center;
}

.etude-inline {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 24px;
    background-color: #a241d0;
    background-image: linear-gradient(43deg, #a241d0 0%, #bf50c8 30%, #FFCC70 66%, #ffffff 100%);
    border-radius: 50%;
}

.etude-inline li {
    list-style: none;
}

/*-------------  media ----------*/
@media (max-width: 600px) {

    /*-------------  menu burger ----------*/
    nav+ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
    }

    #menu-burger {
        width: 40px;
        height: 40px;
    }

    #checkbox-burger {
        display: none;
    }

    #checkbox-burger+nav {
        display: none;
    }

    #checkbox-burger:checked+nav {
        display: block;
    }

    /*-------------  images ----------*/
    img {
        border-radius: 3px;
    }
}

@media (min-width: 600px) {
    h1 {
        font-size: 3rem;
        font-weight: 600;
        color: #aaa;
    }

    h2 {
        text-align: center;
        padding-top: 24px;
        padding-bottom: 24px;
        color: #555;
    }

    h3 {
        text-align: center;
        padding: 24px;
        color: #555;
    }

    h4 {
        text-align: center;
        padding: 24px;
        color: #555;
    }

    nav {
        margin: 0 auto;
    }

    nav ul {
        float: right;
        margin-right: 16px;
        list-style: none;
        text-align: center;
    }

    nav ul li {
        display: inline-block;
        justify-content: space-between;
        color: black;
        font-size: 24px;
    }

    nav ul li a {
        display: block;
        padding: 15px;
        text-decoration: none;
        color: #aaa;
        font-weight: 800;
        text-transform: uppercase;
        margin: 0 10px;
    }

    nav ul li a,
    nav ul li a:after,
    nav ul li a:before {
        transition: all .5s;
    }

    nav ul li a:hover {
        color: #555;
    }

    /* stroke */
    nav.stroke ul li a,
    nav.fill ul li a {
        position: relative;
    }

    nav.stroke ul li a:after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 0%;
        content: '.';
        color: transparent;
        background: #aaa;
        height: 1px;
    }

    nav.stroke ul li a:hover:after {
        width: 100%;
    }

    /*-------------  menu burger ----------*/
    #menu-burger,
    #checkbox-burger {
        display: none;
    }

    /*-------------  images ----------*/
    /*img {
        opacity: 0.5;
        border-radius: 3px;
    }

    img:hover {
        opacity: 1.0;
    }*/

    /* black and white images  DO NOT ERASE 
    img:first-of-type {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }*/

    #avatar {
        width: 100px;
        margin: 16px;
        border-radius: 50px;
    }
}